In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
from sklearn.model_selection import train_test_split

In [2]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder
from sklearn.impute import SimpleImputer

## Mengimport segala jenis library yang di butuhkan

In [3]:
df = pd.read_csv("GlobalWeatherRepository.csv", sep=";")

_Pertama akan di lakukan normalisasi data_

In [4]:
null_count_per_column = df[["condition_text", "air_quality_Ozone"]].isnull().sum()
print("\nJumlah Nilai Null per Kolom:")
print(null_count_per_column)

Jumlah Nilai Null per Kolom:
condition_text       56
air_quality_Ozone    76
dtype: int64

Di dapatkan beberapa data yang bernilai null pada dataset <br>
_Pertama data yang NULL akan di isi oleh modulus data dan mean data_

In [5]:
df.duplicated().sum()

2

_Mengecek kemungkinan data yang duplicate_<br>
_Dan bagian bawah ini adalah pengecekan dari hasil penghapusan data yang duplicate_

In [6]:
df.drop_duplicates(inplace=True)
df.duplicated().sum()

0

In [7]:
imputer = SimpleImputer(strategy="most_frequent")

In [8]:
cuaca = imputer.fit_transform(df[["condition_text"]])
df.air_quality_Ozone.fillna(df.air_quality_Ozone.mean(), inplace=True)
df[["condition_text"]] = cuaca

### Pada bagian atas sudah dataset pada colom condition_text sudah di fill dengan modulus di bagian baris yang NULL <br>
_Berikut adalah hasil pengecekan null_

In [9]:
null_count_per_column = df[["condition_text", "air_quality_Ozone", "moon_phase"]].isnull().sum()
print("\nJumlah Nilai Null per Kolom:")
print(null_count_per_column)

Jumlah Nilai Null per Kolom:
condition_text       0
air_quality_Ozone    0
moon_phase           0
dtype: int64

In [10]:
x =  df.iloc[:, 29:35]
y = df.drop(columns="condition_text")

In [11]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)
print("Ini x_train : ", x_train.shape)
print("Ini x_test : ", x_test.shape)
print("Ini y_train : ", y_train.shape)
print("Ini y_test : ", y_test.shape)

Ini x_train :  (3545, 6)
Ini x_test :  (1520, 6)
Ini y_train :  (3545, 40)
Ini y_test :  (1520, 40)

In [12]:
df_2 = pd.read_csv("GlobalWeatherRepository.csv", sep=";")

In [13]:
df_2.head(10)

,country,location_name,latitude,longitude,timezone,last_updated_epoch,last_updated,temperature_celsius,temperature_fahrenheit,condition_text,...,air_quality_PM2.5,air_quality_PM10,air_quality_us-epa-index,air_quality_gb-defra-index,sunrise,sunset,moonrise,moonset,moon_phase,moon_illumination
0,Afghanistan,Kabul,34.52,69.18,Asia/Kabul,1693301400,29/08/2023 14:00,28.8,83.8,Sunny,...,7.9,11.1,1,1,5:24 AM,6:24 PM,5:39 PM,2:48 AM,Waxing Gibbous,93
1,Albania,Tirana,41.33,19.82,Europe/Tirane,1693301400,29/08/2023 11:30,27.0,80.6,Partly cloudy,...,28.2,29.6,2,3,6:04 AM,7:19 PM,6:50 PM,3:25 AM,Waxing Gibbous,93
2,Algeria,Algiers,36.76,3.05,Africa/Algiers,1693301400,29/08/2023 10:30,28.0,82.4,Partly cloudy,...,6.4,7.9,1,1,6:16 AM,7:21 PM,6:46 PM,3:50 AM,Waxing Gibbous,93
3,Andorra,Andorra La Vella,42.50,1.52,Europe/Andorra,1693301400,29/08/2023 11:30,10.2,50.4,Sunny,...,0.5,0.8,1,1,7:16 AM,8:34 PM,8:08 PM,4:38 AM,Waxing Gibbous,93
4,Andorra,Andorra La Vella,42.50,1.52,Europe/Andorra,1693301400,29/08/2023 11:30,10.2,50.4,Sunny,...,0.5,0.8,1,1,7:16 AM,8:34 PM,8:08 PM,4:38 AM,Waxing Gibbous,93
5,Angola,Luanda,-8.84,13.23,Africa/Luanda,1693301400,29/08/2023 10:30,25.0,77.0,Partly cloudy,...,139.6,203.3,4,10,6:11 AM,6:06 PM,4:43 PM,4:41 AM,Waxing Gibbous,93
6,Antigua and Barbuda,Saint John's,17.12,-61.85,America/Antigua,1693301400,29/08/2023 05:30,29.0,84.2,Light rain,...,0.8,1.9,1,1,5:53 AM,6:23 PM,5:36 PM,4:09 AM,Waxing Gibbous,93
7,Argentina,Buenos Aires,-34.59,-58.67,America/Argentina/Buenos_Aires,1693301400,29/08/2023 06:30,9.0,48.2,Clear,...,2.1,3.5,1,1,7:18 AM,6:34 PM,4:57 PM,6:32 AM,Waxing Gibbous,93
8,Armenia,Yerevan,40.18,44.51,Asia/Yerevan,1693301400,29/08/2023 13:30,31.0,87.8,Partly cloudy,...,5.0,6.2,1,1,6:26 AM,7:39 PM,7:05 PM,3:45 AM,Waxing Gibbous,93
9,Armenia,Yerevan,40.18,44.51,Asia/Yerevan,1693301400,29/08/2023 13:30,31.0,87.8,Partly cloudy,...,5.0,6.2,1,1,6:26 AM,7:39 PM,7:05 PM,3:45 AM,Waxing Gibbous,93

In [14]:
x =  df_2.iloc[:, 29:35]
y = df_2.drop(columns="condition_text")

_membuat sebuah set x dan y berdasarkan dataset baru yang di copy_

In [15]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)
print("Ini x_train : ", x_train.shape)
print("Ini x_test : ", x_test.shape)
print("Ini y_train : ", y_train.shape)
print("Ini y_test : ", y_test.shape)

Ini x_train :  (3546, 6)
Ini x_test :  (1521, 6)
Ini y_train :  (3546, 40)
Ini y_test :  (1521, 40)

### Membuat sebuah standarisasi data yang ada pada dataset

In [16]:
ss = StandardScaler()
ss.fit(x_train)
X_train_scaled = ss.transform(x_train)
X_test_scaled = ss.transform(x_test)

In [17]:
print("Nilai Standar deviasi data: ", np.std(X_train_scaled))

Nilai Standar deviasi data:  1.0

_standarisasi data yang di lakukan berhasil, dan nilai standarisasi = 1_

In [18]:
mm = MinMaxScaler()
mm.fit(x_train)
X_train_normalized = mm.transform(x_train)

### Berikut merupakan hasil dari normalisasi data yang di lakukan

In [19]:
print("Nilai Normalisasi data Min: ", np.min(X_train_normalized))
print("Nilai Normalisasi data max: ", np.max(X_train_normalized))

Nilai Normalisasi data Min:  0.0
Nilai Normalisasi data max:  1.0000000000000002

### Merubah Jenis tipe data Float pada dataset menjadi Integer

In [20]:
float_columns = df.select_dtypes(include='float')
float_columns.columns

Index(['latitude', 'longitude', 'temperature_celsius',
       'temperature_fahrenheit', 'wind_mph', 'wind_kph', 'pressure_mb',
       'pressure_in', 'precip_mm', 'precip_in', 'feels_like_celsius',
       'feels_like_fahrenheit', 'visibility_km', 'visibility_miles',
       'uv_index', 'gust_mph', 'gust_kph', 'air_quality_Ozone',
       'air_quality_Nitrogen_dioxide', 'air_quality_Sulphur_dioxide',
       'air_quality_PM2.5', 'air_quality_PM10'],
      dtype='object')

_Mengecek berbagai colom yang bertipe float_

In [21]:
int_columns = df.select_dtypes(include='int')
int_columns.columns

Index(['last_updated_epoch', 'wind_degree', 'humidity', 'cloud',
       'air_quality_us-epa-index', 'air_quality_gb-defra-index',
       'moon_illumination'],
      dtype='object')

_Mengecek berbagai colom yang bertipe int_

In [22]:
df[['gust_kph', 'longitude' ]] = df[['gust_kph', 'longitude' ]].astype(int)

In [23]:
int_columns = df.select_dtypes(include='int')
int_columns.columns

Index(['longitude', 'last_updated_epoch', 'wind_degree', 'humidity', 'cloud',
       'gust_kph', 'air_quality_us-epa-index', 'air_quality_gb-defra-index',
       'moon_illumination'],
      dtype='object')

_longitude dan gust_kph masuk kedalam tipe data int dipastikan tipe datanya berubah_

In [24]:
onehot = OneHotEncoder(sparse = False)

In [25]:
condition_encoded = onehot.fit_transform(df[["moon_phase"]])

e:\Data_C\Documents\KULIAH\Codingan\KB\Pertemuan_4\pertemuan_4\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [26]:
df.moon_phase.value_counts()

moon_phase
Waxing Crescent    1362
Waning Crescent    1170
Waning Gibbous     1169
Full Moon           390
New Moon            390
Waxing Gibbous      195
Last Quarter        195
First Quarter       194
Name: count, dtype: int64

In [27]:
condition_encoded = pd.DataFrame(condition_encoded)
df["Waxing Crescent"] = condition_encoded[6]
df["Waning Crescent"] = condition_encoded[4]
df["Waning Gibbous"] = condition_encoded[5]
df["Full Moon"] = condition_encoded[3]
df["New Moon"] = condition_encoded[1]
df["Waxing Gibbous"] = condition_encoded[7]
df["Last Quarter"] = condition_encoded[2]
df["First Quarter"] = condition_encoded[0]
df

,country,location_name,latitude,longitude,timezone,last_updated_epoch,last_updated,temperature_celsius,temperature_fahrenheit,condition_text,...,moon_phase,moon_illumination,Waxing Crescent,Waning Crescent,Waning Gibbous,Full Moon,New Moon,Waxing Gibbous,Last Quarter,First Quarter
0,Afghanistan,Kabul,34.52,69,Asia/Kabul,1693301400,29/08/2023 14:00,28.8,83.8,Sunny,...,Waxing Gibbous,93,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,Albania,Tirana,41.33,19,Europe/Tirane,1693301400,29/08/2023 11:30,27.0,80.6,Partly cloudy,...,Waxing Gibbous,93,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,Algeria,Algiers,36.76,3,Africa/Algiers,1693301400,29/08/2023 10:30,28.0,82.4,Partly cloudy,...,Waxing Gibbous,93,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,Andorra,Andorra La Vella,42.50,1,Europe/Andorra,1693301400,29/08/2023 11:30,10.2,50.4,Sunny,...,Waxing Gibbous,93,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
5,Angola,Luanda,-8.84,13,Africa/Luanda,1693301400,29/08/2023 10:30,25.0,77.0,Partly cloudy,...,Waxing Gibbous,93,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5062,Venezuela,Caracas,10.50,-66,America/Caracas,1695420900,22/09/2023 18:15,29.0,84.2,Sunny,...,First Quarter,41,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
5063,Vietnam,Hanoi,21.03,105,Asia/Bangkok,1695420900,23/09/2023 05:15,27.0,80.6,Clear,...,First Quarter,41,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
5064,Yemen,Sanaa,15.35,44,Asia/Aden,1695420900,23/09/2023 01:15,17.1,62.9,Clear,...,First Quarter,41,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
5065,Zambia,Lusaka,-15.42,28,Africa/Lusaka,1695420900,23/09/2023 00:15,22.1,71.8,Clear,...,First Quarter,41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5066,Zimbabwe,Harare,-17.82,31,Africa/Harare,1695420900,23/09/2023 00:15,18.6,65.6,Clear,...,First Quarter,41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
kolom_dengan_null = []
jumlah_null_per_kolom = {}

for kolom in df.columns:
    jumlah_null = df[kolom].isnull().sum()
    if jumlah_null > 0:
        kolom_dengan_null.append(kolom)
        jumlah_null_per_kolom[kolom] = jumlah_null

# Menampilkan nama-nama kolom yang hanya berisi nilai null dan jumlah nilai null dalam masing-masing kolom
print("\nKolom dengan nilai null:")
print(kolom_dengan_null)

print("\nJumlah nilai null dalam masing-masing kolom:")
for kolom, jumlah_null in jumlah_null_per_kolom.items():
    print(f"{kolom}: {jumlah_null}")

Kolom dengan nilai null:
['Waxing Crescent', 'Waning Crescent', 'Waning Gibbous', 'Full Moon', 'New Moon', 'Waxing Gibbous', 'Last Quarter', 'First Quarter']

Jumlah nilai null dalam masing-masing kolom:
Waxing Crescent: 2
Waning Crescent: 2
Waning Gibbous: 2
Full Moon: 2
New Moon: 2
Waxing Gibbous: 2
Last Quarter: 2
First Quarter: 2