In [1]:
import pandas as pd
pd.__version__

'2.1.1'

In [2]:
import numpy as np
np.__version__

'1.26.0'

# Postest KB 2 
Nama : Dhimas Pramudya Tridharma

NIM  : 2109106071

**Fungsi DF untuk membaca dataset**

In [3]:
df = pd.read_csv("GlobalWeatherRepository.csv")

### untuk memberitahukan apa aja informasi yang ada pada Dataset

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5065 entries, 0 to 5064
Data columns (total 41 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       5065 non-null   object
 1   location_name                 5065 non-null   object
 2   latitude                      5065 non-null   float64
 3   longitude                     5065 non-null   float64
 4   timezone                      5065 non-null   object
 5   last_updated_epoch            5065 non-null   int64
 6   last_updated                  5065 non-null   object
 7   temperature_celsius           5065 non-null   float64
 8   temperature_fahrenheit        5065 non-null   float64
 9   condition_text                5065 non-null   object
 10  wind_mph                      5065 non-null   float64
 11  wind_kph                      5065 non-null   float64
 12  wind_degree                   5065 non-null   int64
 13  wind_direction                5065 non-null   object
 14  pressure_mb                   5065 non-null   float64
 15  pressure_in                   5065 non-null   float64
 16  precip_mm                     5065 non-null   float64
 17  precip_in                     5065 non-null   float64
 18  humidity                      5065 non-null   int64
 19  cloud                         5065 non-null   int64
 20  feels_like_celsius            5065 non-null   float64
 21  feels_like_fahrenheit         5065 non-null   float64
 22  visibility_km                 5065 non-null   float64
 23  visibility_miles              5065 non-null   float64
 24  uv_index                      5065 non-null   float64
 25  gust_mph                      5065 non-null   float64
 26  gust_kph                      5065 non-null   float64
 27  air_quality_Carbon_Monoxide   5065 non-null   float64
 28  air_quality_Ozone             5065 non-null   float64
 29  air_quality_Nitrogen_dioxide  5065 non-null   float64
 30  air_quality_Sulphur_dioxide   5065 non-null   float64
 31  air_quality_PM2.5             5065 non-null   float64
 32  air_quality_PM10              5065 non-null   float64
 33  air_quality_us-epa-index      5065 non-null   int64
 34  air_quality_gb-defra-index    5065 non-null   int64
 35  sunrise                       5065 non-null   object
 36  sunset                        5065 non-null   object
 37  moonrise                      5065 non-null   object
 38  moonset                       5065 non-null   object
 39  moon_phase                    5065 non-null   object
 40  moon_illumination             5065 non-null   int64
dtypes: float64(23), int64(7), object(11)
memory usage: 1.6+ MB

### Pada bagian ini Dataset di analisis
_Lalu Menampilkan rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 d ari attribute bertipe angka_

In [5]:
df.describe()

,latitude,longitude,last_updated_epoch,temperature_celsius,temperature_fahrenheit,wind_mph,wind_kph,wind_degree,pressure_mb,pressure_in,...,gust_kph,air_quality_Carbon_Monoxide,air_quality_Ozone,air_quality_Nitrogen_dioxide,air_quality_Sulphur_dioxide,air_quality_PM2.5,air_quality_PM10,air_quality_us-epa-index,air_quality_gb-defra-index,moon_illumination
count,5065.000000,5065.000000,5.065000e+03,5065.000000,5065.000000,5065.000000,5065.000000,5065.000000,5065.000000,5065.000000,...,5065.000000,5065.000000,5065.000000,5065.000000,5065.000000,5065.000000,5065.000000,5065.000000,5065.000000,5065.000000
mean,19.305244,21.885323,1.694347e+09,22.527799,72.550444,6.575597,10.582843,162.216782,1013.317868,29.922089,...,17.038855,515.583139,41.691234,10.728885,6.440059,21.016742,33.844482,1.485489,2.094571,44.739388
std,24.585637,65.689073,6.442553e+05,6.529354,11.752811,4.601718,7.407513,103.669158,5.702717,0.168106,...,10.900881,1204.102675,32.969937,19.167579,14.126450,59.863577,78.359844,0.922895,2.212885,37.174623
min,-41.300000,-175.200000,1.693301e+09,-2.000000,28.400000,2.200000,3.600000,1.000000,982.000000,29.000000,...,0.000000,96.800000,0.000000,0.000000,0.000000,0.500000,0.500000,1.000000,1.000000,0.000000
25%,3.750000,-6.840000,1.693784e+09,18.000000,64.400000,3.100000,5.000000,74.000000,1010.000000,29.830000,...,9.000000,223.600000,18.400000,1.100000,0.400000,3.100000,5.400000,1.000000,1.000000,8.000000
50%,17.250000,23.240000,1.694300e+09,23.000000,73.400000,5.600000,9.000000,150.000000,1013.000000,29.910000,...,15.100000,267.000000,37.200000,3.900000,1.500000,7.600000,12.700000,1.000000,1.000000,39.000000
75%,41.330000,50.580000,1.694903e+09,27.400000,81.300000,9.400000,15.100000,240.000000,1017.000000,30.030000,...,22.700000,423.900000,57.200000,11.700000,5.600000,18.700000,30.200000,2.000000,2.000000,88.000000
max,63.830000,179.220000,1.695421e+09,45.000000,113.000000,46.100000,74.200000,360.000000,1036.000000,30.590000,...,110.500000,36315.898000,320.400000,241.300000,169.800000,1558.800000,1859.600000,6.000000,10.000000,100.000000

__dengan menggunakan df.describe() data diatas hanya menampilkan total jumlah, rata-rata, standar deviasi, nilai minimum,
maksimum, dan nilai tengah nya apa, dari sebuah data yang bertipe numerik (int, float)__

## Menampilkan 10 data bertipe Numerik

_Numeric_data_ di gunakan untuk menampung data yang di seleksi yang bertipa numerik
lalu menampilkan 10 data teratas menggunakan _.head_

In [6]:
numeric_data = df.select_dtypes(include = np.number)
numeric_data.head(10)

,latitude,longitude,last_updated_epoch,temperature_celsius,temperature_fahrenheit,wind_mph,wind_kph,wind_degree,pressure_mb,pressure_in,...,gust_kph,air_quality_Carbon_Monoxide,air_quality_Ozone,air_quality_Nitrogen_dioxide,air_quality_Sulphur_dioxide,air_quality_PM2.5,air_quality_PM10,air_quality_us-epa-index,air_quality_gb-defra-index,moon_illumination
0,34.52,69.18,1693301400,28.8,83.8,7.2,11.5,74,1004.0,29.64,...,13.3,647.5,130.2,1.2,0.4,7.9,11.1,1,1,93
1,41.33,19.82,1693301400,27.0,80.6,3.8,6.1,210,1006.0,29.71,...,11.9,433.9,104.4,3.6,1.8,28.2,29.6,2,3,93
2,36.76,3.05,1693301400,28.0,82.4,8.1,13.0,240,1014.0,29.94,...,5.4,647.5,16.6,63.1,12.6,6.4,7.9,1,1,93
3,42.50,1.52,1693301400,10.2,50.4,6.0,9.7,345,1015.0,29.97,...,11.9,190.3,68.0,0.2,0.2,0.5,0.8,1,1,93
4,-8.84,13.23,1693301400,25.0,77.0,2.2,3.6,270,1016.0,30.00,...,5.8,2136.2,147.3,52.8,26.9,139.6,203.3,4,10,93
5,17.12,-61.85,1693301400,29.0,84.2,9.4,15.1,90,1015.0,29.97,...,37.4,200.3,16.6,0.5,0.5,0.8,1.9,1,1,93
6,-34.59,-58.67,1693301400,9.0,48.2,6.9,11.2,70,1023.0,30.21,...,13.7,270.4,18.8,10.7,1.3,2.1,3.5,1,1,93
7,40.18,44.51,1693301400,31.0,87.8,5.6,9.0,170,1003.0,29.62,...,8.3,212.0,121.6,1.0,1.1,5.0,6.2,1,1,93
8,-35.28,149.22,1693301400,13.0,55.4,9.4,15.1,10,1017.0,30.03,...,15.1,203.6,44.0,3.5,0.5,4.0,5.8,1,1,93
9,48.20,16.37,1693301400,16.0,60.8,11.9,19.1,320,1005.0,29.68,...,25.9,320.4,30.0,29.1,13.0,13.1,14.9,1,2,93

## Pada Kali Ini akan menampilkan  jumlah record, jumlah attribute, nama attribute, jumlah attribute dengan tipe angka.
Lalu di masukkan kedalam dictionary agar mudah di tampilkan dalam bentuk record yang rapi

In [7]:
record = df.shape[0]
atribut = df.columns
objek = df.select_dtypes(include=object).columns
angka = df.select_dtypes(include=np.number).columns

### Fungsi di atas

df.shape[] : fungsi untuk menampilkan ukuran baris(record) atau kolom(atribut) dari suatu dataframe

df.columns : fungsi untuk menampilkan nama-nama atribut atau kolom pada dataframe

df.select_dtypes() : fungsi untuk mengembalikan dataframe baru yang menyertakan kolom dari tipe yang ditentukan

include = object : untuk memilih semua tipe object

include = np.number : untuk memilih semua tipe numerik/angka

df.isna().any() : untuk memeriksa apakah ada atribut yang memiliki nilai null

In [9]:
info = {
    'jumlah_record' : record,
    'nama_atribut' : atribut,
    'atribut_object' : objek,
    'atribut_angka' : angka,
}

print("""
================================================
        A N A L I S I S   D A T A S E T
================================================""")
print("Jumlah Record \t\t\t\t:", info['jumlah_record'])

print("================================================")
print("Jumlah Atribut \t\t\t\t:", len(info['nama_atribut']))
print("================================================")
print("------------------------")
print("  No\t| Nama Atribut")
print("------------------------")
for i in range (len(info['nama_atribut'])):
    print(" ", i, "\t|", info['nama_atribut'][i])
    i+=1
    
print("\n================================================")
print("Jumlah Atribut dengan Tipe Objek \t:", len(info['atribut_object']))
print("================================================")
print("-------------------------------")
print("  No\t| Atribut Tipe Object")
print("-------------------------------")
for i in range (len(info['atribut_object'])):
    print(" ", i, "\t|", info['atribut_object'][i])
    i+=1
    
print("\n================================================")
print("Jumlah Atribut dengan Tipe Angka \t:", len(info['atribut_angka']))
print("================================================")
print("------------------------------")
print("  No\t| Atribut Tipe Angka")
print("------------------------------")
for i in range (len(info['atribut_angka'])):
    print(" ", i, "\t|", info['atribut_angka'][i])
    i+=1
print("\n================================================")

================================================
        A N A L I S I S   D A T A S E T
================================================
Jumlah Record 				: 5065
================================================
Jumlah Atribut 				: 41
================================================
------------------------
  No	| Nama Atribut
------------------------
  0 	| country
  1 	| location_name
  2 	| latitude
  3 	| longitude
  4 	| timezone
  5 	| last_updated_epoch
  6 	| last_updated
  7 	| temperature_celsius
  8 	| temperature_fahrenheit
  9 	| condition_text
  10 	| wind_mph
  11 	| wind_kph
  12 	| wind_degree
  13 	| wind_direction
  14 	| pressure_mb
  15 	| pressure_in
  16 	| precip_mm
  17 	| precip_in
  18 	| humidity
  19 	| cloud
  20 	| feels_like_celsius
  21 	| feels_like_fahrenheit
  22 	| visibility_km
  23 	| visibility_miles
  24 	| uv_index
  25 	| gust_mph
  26 	| gust_kph
  27 	| air_quality_Carbon_Monoxide
  28 	| air_quality_Ozone
  29 	| air_quality_Nitrogen_dioxide
  30 	| air_quality_Sulphur_dioxide
  31 	| air_quality_PM2.5
  32 	| air_quality_PM10
  33 	| air_quality_us-epa-index
  34 	| air_quality_gb-defra-index
  35 	| sunrise
  36 	| sunset
  37 	| moonrise
  38 	| moonset
  39 	| moon_phase
  40 	| moon_illumination

================================================
Jumlah Atribut dengan Tipe Objek 	: 11
================================================
-------------------------------
  No	| Atribut Tipe Object
-------------------------------
  0 	| country
  1 	| location_name
  2 	| timezone
  3 	| last_updated
  4 	| condition_text
  5 	| wind_direction
  6 	| sunrise
  7 	| sunset
  8 	| moonrise
  9 	| moonset
  10 	| moon_phase

================================================
Jumlah Atribut dengan Tipe Angka 	: 30
================================================
------------------------------
  No	| Atribut Tipe Angka
------------------------------
  0 	| latitude
  1 	| longitude
  2 	| last_updated_epoch
  3 	| temperature_celsius
  4 	| temperature_fahrenheit
  5 	| wind_mph
  6 	| wind_kph
  7 	| wind_degree
  8 	| pressure_mb
  9 	| pressure_in
  10 	| precip_mm
  11 	| precip_in
  12 	| humidity
  13 	| cloud
  14 	| feels_like_celsius
  15 	| feels_like_fahrenheit
  16 	| visibility_km
  17 	| visibility_miles
  18 	| uv_index
  19 	| gust_mph
  20 	| gust_kph
  21 	| air_quality_Carbon_Monoxide
  22 	| air_quality_Ozone
  23 	| air_quality_Nitrogen_dioxide
  24 	| air_quality_Sulphur_dioxide
  25 	| air_quality_PM2.5
  26 	| air_quality_PM10
  27 	| air_quality_us-epa-index
  28 	| air_quality_gb-defra-index
  29 	| moon_illumination

================================================

## Menampilkan Data Tertentu dengan menggunakan metode Slice

_Menggunakan Metode Loc untuk menentukan baris dan kolom yang akan kita akses_

In [24]:
df.iloc[71:].loc[:,df.columns[3:]]

,longitude,timezone,last_updated_epoch,last_updated,temperature_celsius,temperature_fahrenheit,condition_text,wind_mph,wind_kph,wind_degree,...,air_quality_PM2.5,air_quality_PM10,air_quality_us-epa-index,air_quality_gb-defra-index,sunrise,sunset,moonrise,moonset,moon_phase,moon_illumination
71,-58.17,America/Guyana,1693301400,2023-08-29 05:30,24.0,75.2,Mist,2.2,3.6,10,...,0.8,1.3,1,1,05:46 AM,06:01 PM,05:05 PM,04:12 AM,Waxing Gibbous,93
72,-72.34,America/Port-au-Prince,1693301400,2023-08-29 05:30,27.0,80.6,Clear,9.4,15.1,120,...,6.9,14.9,1,1,06:34 AM,07:06 PM,06:21 PM,04:50 AM,Waxing Gibbous,93
73,12.45,Europe/Rome,1693301400,2023-08-29 11:30,21.0,69.8,Moderate rain,2.2,3.6,238,...,3.4,9.5,1,1,06:32 AM,07:50 PM,07:22 PM,03:54 AM,Waxing Gibbous,93
74,-87.22,America/Tegucigalpa,1693301400,2023-08-29 03:30,21.0,69.8,Partly cloudy,3.8,6.1,130,...,1.1,2.4,1,1,05:37 AM,06:02 PM,05:16 PM,04:00 AM,Waxing Gibbous,93
75,19.08,Europe/Budapest,1693301400,2023-08-29 11:30,20.0,68.0,Light rain shower,6.9,11.2,200,...,13.9,16.2,1,2,05:58 AM,07:31 PM,07:13 PM,03:03 AM,Waxing Gibbous,93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5060,-66.92,America/Caracas,1695420900,2023-09-22 18:15,29.0,84.2,Sunny,5.6,9.0,70,...,39.6,40.4,2,4,06:17 AM,06:24 PM,12:36 PM,No moonset,First Quarter,41
5061,105.85,Asia/Bangkok,1695420900,2023-09-23 05:15,27.0,80.6,Clear,4.3,6.8,60,...,65.1,78.7,3,9,05:45 AM,05:54 PM,12:01 PM,10:52 PM,First Quarter,41
5062,44.21,Asia/Aden,1695420900,2023-09-23 01:15,17.1,62.9,Clear,4.3,6.8,19,...,31.4,114.4,2,3,05:52 AM,06:00 PM,12:04 PM,11:23 PM,First Quarter,41
5063,28.28,Africa/Lusaka,1695420900,2023-09-23 00:15,22.1,71.8,Clear,7.6,12.2,70,...,17.6,24.3,2,2,05:57 AM,06:03 PM,11:01 AM,No moonset,First Quarter,41
5064,31.04,Africa/Harare,1695420900,2023-09-23 00:15,18.6,65.6,Clear,10.7,17.3,61,...,16.2,19.6,2,2,05:46 AM,05:52 PM,10:44 AM,No moonset,First Quarter,41

df.iloc di gunakan untuk menyeleksi dari baris mana yang akan di tampilkan lalu di barengin dengan fungsi .loc untuk menyeleksi kolom yang akan di tampilkan

In [20]:
df.iloc[71:, 3:]

,longitude,timezone,last_updated_epoch,last_updated,temperature_celsius,temperature_fahrenheit,condition_text,wind_mph,wind_kph,wind_degree,...,air_quality_PM2.5,air_quality_PM10,air_quality_us-epa-index,air_quality_gb-defra-index,sunrise,sunset,moonrise,moonset,moon_phase,moon_illumination
71,-58.17,America/Guyana,1693301400,2023-08-29 05:30,24.0,75.2,Mist,2.2,3.6,10,...,0.8,1.3,1,1,05:46 AM,06:01 PM,05:05 PM,04:12 AM,Waxing Gibbous,93
72,-72.34,America/Port-au-Prince,1693301400,2023-08-29 05:30,27.0,80.6,Clear,9.4,15.1,120,...,6.9,14.9,1,1,06:34 AM,07:06 PM,06:21 PM,04:50 AM,Waxing Gibbous,93
73,12.45,Europe/Rome,1693301400,2023-08-29 11:30,21.0,69.8,Moderate rain,2.2,3.6,238,...,3.4,9.5,1,1,06:32 AM,07:50 PM,07:22 PM,03:54 AM,Waxing Gibbous,93
74,-87.22,America/Tegucigalpa,1693301400,2023-08-29 03:30,21.0,69.8,Partly cloudy,3.8,6.1,130,...,1.1,2.4,1,1,05:37 AM,06:02 PM,05:16 PM,04:00 AM,Waxing Gibbous,93
75,19.08,Europe/Budapest,1693301400,2023-08-29 11:30,20.0,68.0,Light rain shower,6.9,11.2,200,...,13.9,16.2,1,2,05:58 AM,07:31 PM,07:13 PM,03:03 AM,Waxing Gibbous,93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5060,-66.92,America/Caracas,1695420900,2023-09-22 18:15,29.0,84.2,Sunny,5.6,9.0,70,...,39.6,40.4,2,4,06:17 AM,06:24 PM,12:36 PM,No moonset,First Quarter,41
5061,105.85,Asia/Bangkok,1695420900,2023-09-23 05:15,27.0,80.6,Clear,4.3,6.8,60,...,65.1,78.7,3,9,05:45 AM,05:54 PM,12:01 PM,10:52 PM,First Quarter,41
5062,44.21,Asia/Aden,1695420900,2023-09-23 01:15,17.1,62.9,Clear,4.3,6.8,19,...,31.4,114.4,2,3,05:52 AM,06:00 PM,12:04 PM,11:23 PM,First Quarter,41
5063,28.28,Africa/Lusaka,1695420900,2023-09-23 00:15,22.1,71.8,Clear,7.6,12.2,70,...,17.6,24.3,2,2,05:57 AM,06:03 PM,11:01 AM,No moonset,First Quarter,41
5064,31.04,Africa/Harare,1695420900,2023-09-23 00:15,18.6,65.6,Clear,10.7,17.3,61,...,16.2,19.6,2,2,05:46 AM,05:52 PM,10:44 AM,No moonset,First Quarter,41

sedangkan df.iloc untuk menyeleksi baris 71 sampe akhir dan hanya kolom 4 hingga kolom terakhir yang di tampilkan

## Menampilkan Total nilai yang bertipe Object

In [45]:
atribut_objek = df.select_dtypes(include='object')

_atribut_objek_ sebagai variabel penampung untuk menyeleksi data yang bertipe object

In [47]:
for kolom in atribut_objek.columns:
    nilai_jumlah = atribut_objek[kolom].value_counts()
    print(f"Jumlah nilai berdasarkan label dari {kolom}:")
    print(nilai_jumlah)
    print("\n")

Jumlah nilai berdasarkan label dari country:
country
Bulgaria       78
Indonesia      63
Turkey         52
Sudan          52
Bolivia        52
               ..
Tuvalu         25
Nicaragua      25
Peru           25
Spain          25
Timor-Leste    15
Name: count, Length: 185, dtype: int64


Jumlah nilai berdasarkan label dari location_name:
location_name
Kabul           26
Adkip           26
Amsterdam       26
Wellington      26
Niamey          26
                ..
Funafuti        25
Kyiv            16
Dili            15
Murong Timor    11
Lviv            10
Name: count, Length: 197, dtype: int64


Jumlah nilai berdasarkan label dari timezone:
timezone
Europe/Rome        78
Asia/Bangkok       77
Asia/Jakarta       63
Europe/Brussels    52
Africa/Douala      52
                   ..
Asia/Famagusta     23
Asia/Dili          15
Asia/Nicosia        3
Asia/Hebron         1
Africa/Kinshasa     1
Name: count, Length: 183, dtype: int64


Jumlah nilai berdasarkan label dari last_updated:
last_updated
2023-09-14 16:30    47
2023-09-15 00:30    45
2023-09-17 00:30    43
2023-09-18 00:30    43
2023-09-06 01:15    43
                    ..
2023-09-09 23:00     1
2023-09-10 03:00     1
2023-09-10 04:30     1
2023-09-10 05:15     1
2023-09-22 15:15     1
Name: count, Length: 807, dtype: int64


Jumlah nilai berdasarkan label dari condition_text:
condition_text
Partly cloudy                          2054
Clear                                  1792
Sunny                                   277
Overcast                                167
Light rain                              142
Mist                                    139
Patchy rain possible                    138
Light rain shower                        79
Moderate or heavy rain with thunder      61
Patchy light rain with thunder           61
Fog                                      40
Moderate rain                            28
Cloudy                                   25
Moderate or heavy rain shower            18
Thundery outbreaks possible              11
Light drizzle                             8
Patchy light rain                         6
Heavy rain                                6
Moderate rain at times                    4
Torrential rain shower                    4
Patchy light drizzle                      3
Heavy rain at times                       2
Name: count, dtype: int64


Jumlah nilai berdasarkan label dari wind_direction:
wind_direction
N      594
E      471
S      381
ESE    353
ENE    324
SSW    316
SE     312
SW     311
NE     297
W      288
SSE    265
NNE    262
WSW    256
NNW    223
NW     213
WNW    199
Name: count, dtype: int64


Jumlah nilai berdasarkan label dari sunrise:
sunrise
05:54 AM    103
05:57 AM     99
06:21 AM     96
05:50 AM     85
06:11 AM     85
           ...
07:47 AM      1
07:31 AM      1
07:59 AM      1
08:00 AM      1
08:01 AM      1
Name: count, Length: 170, dtype: int64


Jumlah nilai berdasarkan label dari sunset:
sunset
06:04 PM    96
06:02 PM    81
06:03 PM    80
06:00 PM    75
06:05 PM    73
            ..
08:46 PM     1
08:52 PM     1
08:47 PM     1
08:40 PM     1
05:32 PM     1
Name: count, Length: 205, dtype: int64


Jumlah nilai berdasarkan label dari moonrise:
moonrise
No moonrise    195
05:51 AM        17
08:57 PM        17
05:31 AM        17
06:46 AM        15
              ...
11:31 AM         1
10:17 PM         1
08:14 PM         1
01:04 PM         1
03:21 PM         1
Name: count, Length: 1268, dtype: int64


Jumlah nilai berdasarkan label dari moonset:
moonset
No moonset    68
07:42 PM      16
05:42 PM      16
07:02 PM      15
07:13 PM      15
              ..
04:02 PM       1
07:45 AM       1
07:35 AM       1
06:45 AM       1
01:25 AM       1
Name: count, Length: 1216, dtype: int64


Jumlah nilai berdasarkan label dari moon_phase:
moon_phase
Waxing Crescent    1362
Waning Crescent    1170
Waning Gibbous     1169
Full Moon           390
New Moon            390
Waxing Gibbous      195
Last Quarter        195
First Quarter       194
Name: count, dtype: int64

Lalu pada bagian diatas di kumpulkan sebuah data dan di totalkan pada kolom apa, dengan record yang sama, yaa intinya dalam satu kolom itu punya record apa aja dan total record yang sama ada berapa